{{#if user.portfolio}}
  <a class="btn btn-success btn-block mb-2" href="/{{user.portfolio}}"><i class="fa fa-download" aria-hidden="true"></i> Portfolio by {{user.name}}</a>
{{else}}
{{/if}}

{{#each assigments}}
  <div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <img src="/{{image.imageUrl}}" alt="" class="img-thumbnail">
  </div>
{{else}}
  <p>No assigments listed</p>
{{/each}}