{{#if numberAssig}}
  {{#if user.portfolio}}
    <a class="btn btn-success btn-block mb-2" href="/assigments/portfolio"><i class="fa fa-download" aria-hidden="true"></i> Download my portfolio</a>
  {{else}}
    <a class="btn btn-warning btn-block mb-2" href="/assigments/portfolio/generate"><i class="fa fa-file" aria-hidden="true"></i> Generate my portfolio</a>
  {{/if}}
{{else}}
  <a class="btn btn-primary btn-block mb-2" href="/assigments/add">Add Assigment</a>
{{/if}}

{{#each assigments}}
<div class="card card-body mb-2">
  <h4 class="text-center">{{title}}</h4>
  <img src="{{image.imageUrl}}" alt="" class="img-thumbnail">
  {{#if ../user.portfolio}}
    <div class="alert alert-secondary text-center mt-2" role="alert">
      You can't do more changes.
    </div>
  {{else}}
    <a class="btn btn-dark btn-block mb-2" href="/assigments/edit/{{id}}">Edit</a> {{!--
    <form method="post" action="/assigments/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form> --}}
  {{/if}}
</div>
{{else}}
<p>No assigments listed</p>
{{/each}}