{{#if numberAssig}}
    <a class="btn btn-warning btn-block mb-2" href="/assigments/portfolio/generate"> Generate my portfolio</a>
  {{#if user.portfolio}}
    <a class="btn btn-warning btn-block mb-2" href="/assigments/portfolio"> See my portfolio</a>
  {{else}}
  {{/if}}
{{else}}
  <a class="btn btn-primary btn-block mb-2" href="/assigments/add">Add Assigment</a>
{{/if}}

{{#each assigments}}
<div class="card card-body mb-2">
  <h4 class="text-center">{{title}}</h4>
  <p>{{details}}</p>
  <img src="{{image.imageUrl}}" alt="" class="img-thumbnail">
  <a class="btn btn-dark btn-block mb-2" href="/assigments/edit/{{id}}">Edit</a> {{!--
  <form method="post" action="/assigments/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger btn-block" value="Delete">
  </form> --}}
</div>
{{else}}
<p>No assigments listed</p>
{{/each}}